@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: "Press Start 2P", cursive;

}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;

}

.login_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 50px;

}

.login_header h1 {
    font-size: 16px;
    color: #131313;

}

.login_input {
    border: 2px solid #121212;
    border-radius: 8px;
    color: #333;
    font-size: 1em;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 300px;
    outline: none;
    padding: 15px;
    width: 100%;

}

.login_button {
    background-color: #ee665c;
    color: white;
    padding: 15px;
    border-radius: 8px;
    font-size: 1em;
    max-width: 300px;
    width: 100%;
    cursor: pointer;

}

.login_button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}